/*데탑*/
  @media screen and (max-width:1440px) {
    /* page 1 */
    .full1 .space1_wrap h4 {
        font-size: 4.7rem;
    }
    .full1 .space1_wrap a {
        font-size: 1.5rem;
    }
    .full1 .wheel_down {
        left: 50%; bottom: 5%;
    }
    .full1 .wheel_down img {
        max-width: 70%;
    }

}
  
  
  /*노트북*/
  @media screen and (max-width:1024px) {
    .title a {
        font-size: 2rem;
        font-weight: 300;
    }

    /* page 1 */
    .full1 .space1_wrap h4 {
        font-size: 4rem;
    }

    /* page 2 */
    .full2 .space2_wrap {
        right: 15%;
    }

    /* page 3 */
    .full3 .space3_wrap {
        top: 30%; right: 10%;
    }
    .full3::after {
        width: 150px;
        height: 355px;
        right: 13%; top: -7%;
        transform: rotate(-90deg );
    }
    .full3 .space3_wrap p {
        padding: 7% 0 7% 4%;
    }
  }
  
  
  
  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {

  }
  
  
  
  /*모바일*/ 
  @media screen and (max-width:767px) {
    
    .xi-github, .xi-git-symbol, .xi-palette, .xi-spinner-1{
        font-size: 1.7em;
    }
    .title a {
        font-size: 1.8rem;
        padding: 1% 5% 1% 3%;
        border-radius: 0px 0px 30px 0px;
    }
    /* page 1 */
    .main_video1 video{
        background-size: contain;
    }
    .full1::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.1) 80%);
        background-blend-mode: multiply;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .full1 .space1_wrap {
        width: 80%;
        height: 50%;
        bottom: 13%;
        left: 10%;
        background: none;
    }
    .full1 .space1_wrap h4 {
        bottom: 9%;
        left: 2%;
    }
    .full1 .space1_wrap a {
        bottom: 22%;
        left: 8%;
    }
    /* page 2 */
    .main_video2 video{
        background-size: contain;
    }
    .full2::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.1) 80%);
        background-blend-mode: multiply;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .full2 .space2_wrap h4 {
        left: -10%;
        font-size: 1.5rem;
    }
    .full2 .space2_wrap p {
        border-radius: 10px 10px 100px 10px;
        padding: 7% 11% 7% 7%;
        margin: 0.5em 0;
        font-size: 0.9rem;
    }
    /* page 3 */
    .main_video3 video{
        background-size: contain;
    }
    .full3::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.1) 80%);
        background-blend-mode: multiply;
        position: absolute;
        bottom: 0;
        left: 0;

        right: 0;
        top: 0;
        transform: none;
    }
    .full3 .space3_wrap {
        top: 50%;
        right: 10%;
    }
    .full3 .space3_wrap h4 {
        font-size: 1.5rem;
    }
    .full3 .space3_wrap p {
        padding: 5% 0 5% 4%;
        font-size: 0.9rem;
    }
    .full3 .space3_wrap img {
        max-width: 50%;
    }
  }
  
  
  /*모바일2*/
  @media screen and (max-width:576px) {
    .title a {
        font-size: 1.5rem;
        padding: 2% 5% 2% 3%;
    }
    .full1 .wheel_down {
        left: 48%;
    }
    .quick li {
        width: 10px;
        height: 10px;
        margin-bottom: 15px;
    }
    .full1 .wheel_down img {
        max-width: 60%;
    }

    /* page 1 */
    .full1 .space1_wrap h4 {
        bottom: 0%;
    }
    .full1 .space1_wrap a {
        bottom: 15%;
    }

    /* page 2 */
    .full2 .space2_wrap p {
        border-radius: 10px 10px 10px 10px;
    }

    /* page 3 */
    .full3 .space3_wrap {
        right: -3%;
    }
    .full3 .space3_wrap h4 {
        left: 0;
    }
    .full3 .space3_wrap p {
        border-radius: 10px 10px 10px 10px;
        padding: 5% 4%;
        width: 75%;
    }
    .full3 .space3_wrap p br.nbsp3 {
        display: block;
    }
  }
  
  @media screen and (max-width:576px) {
    .full3 .space3_wrap {
        right: -7%;
    }
  }
  
  
  /*모바일3 갤럭시*/
  @media screen and (max-width:425px) {
    .quick {
        top: 90%;
    }
    .quick ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .quick li {
        width: 8px;
        height: 8px;
        margin-right: 8px;
    }

    /* page 1 */
    .full1 .space1_wrap h4 {
        font-size: 3rem;
        bottom: -25%;
        left: 5%;
    }
    .full1 .space1_wrap a {
        bottom: -15%;
        font-size: 1.3rem;
    }
    .full1 .space1_wrap p {
        line-height: 100%;
    }
    .full1 .wheel_down img {
        display: none;
    }

    /* page 2 */
    .full2 .space2_wrap h4 {
        left: 0%;
    }
    .full2 .space2_wrap {
        right: 20%;
    }

    /* page 3 */
    .full3 .space3_wrap {
        left: 15%;
    }
    .full3 .space3_wrap p br.nbsp1 {
        display: block;
    }
    .full3 .space3_wrap p br.nbsp3 {
        display: none;
    }
  }
  
  
  
  /*모바일4 아이폰*/
  @media screen and (max-width:375px) {
    /* page 1 */
    .full1 .space1_wrap {
        bottom: 17%;
    }

    /* page 3 */
    .full3 .space3_wrap {
        top: 40%;
    }
    .full3 .space3_wrap p br.nbsp1 {
        display: none;
    }
    .full3 .space3_wrap p br.nbsp1 {
        display: block;
    }
    .full3 .space3_wrap img {
        max-width: 40%;
        bottom: 1%;
    }
  }